<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dpskvn.shush</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2D9FE79D-041E-4F25-8FBF-E8D064B65246</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6586B905-F32A-4356-A144-F7AC4A8FD607</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6586B905-F32A-4356-A144-F7AC4A8FD607</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE89C9E5-B4B2-4A4B-AEB6-06776B15286C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2F2A892-7671-4857-B8E8-E768F0C22CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD3140F7-1B72-4206-BD35-0BA5F3C2780B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6586B905-F32A-4356-A144-F7AC4A8FD607</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2F2A892-7671-4857-B8E8-E768F0C22CB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D90A4D4B-1366-49A1-B4D0-0E2789BF0D16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE89C9E5-B4B2-4A4B-AEB6-06776B15286C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>056A73E4-DABB-4DAA-892A-F35867B886F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F80EFCF5-30D0-4C6F-81CE-D0116A1DD5DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6586B905-F32A-4356-A144-F7AC4A8FD607</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dino Paskvan</string>
	<key>description</key>
	<string>Mute/unmute the microphone quickly</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shush!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>com.dpskvn.shush.remoteTrigger</string>
				<key>triggername</key>
				<string>Shush!</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>2D9FE79D-041E-4F25-8FBF-E8D064B65246</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Microphone is now on.</string>
				<key>title</key>
				<string>Shush!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>056A73E4-DABB-4DAA-892A-F35867B886F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set inputVolume to input volume of (get volume settings)
  if inputVolume = 0 then
    set inputVolume to 100
  else
    set inputVolume to 0
  end if
  set volume input volume inputVolume
  do shell script "echo " &amp; inputVolume
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6586B905-F32A-4356-A144-F7AC4A8FD607</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^100</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EE89C9E5-B4B2-4A4B-AEB6-06776B15286C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AD3140F7-1B72-4206-BD35-0BA5F3C2780B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Microphone is now off.</string>
				<key>title</key>
				<string>Shush!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D90A4D4B-1366-49A1-B4D0-0E2789BF0D16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C2F2A892-7671-4857-B8E8-E768F0C22CB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>on run argv
  set inputVolume to input volume of (get volume settings)
  if inputVolume = 0 then
    set message to "{\"items\": [{\"title\": \"Unmute the microphone\",\"subtitle\": \"Your microphone is off.\"}]}"
  else
    set message to "{\"items\": [{\"title\": \"Mute the microphone\",\"subtitle\": \"Your microphone is on.\"}]}"
  end if
  return message
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Mute/unmute your microphone.</string>
				<key>title</key>
				<string>Shush!</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F80EFCF5-30D0-4C6F-81CE-D0116A1DD5DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>056A73E4-DABB-4DAA-892A-F35867B886F5</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>2D9FE79D-041E-4F25-8FBF-E8D064B65246</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>6586B905-F32A-4356-A144-F7AC4A8FD607</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>AD3140F7-1B72-4206-BD35-0BA5F3C2780B</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>C2F2A892-7671-4857-B8E8-E768F0C22CB5</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>D90A4D4B-1366-49A1-B4D0-0E2789BF0D16</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>EE89C9E5-B4B2-4A4B-AEB6-06776B15286C</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>F80EFCF5-30D0-4C6F-81CE-D0116A1DD5DD</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>keyword</key>
		<string>shush</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>http://www.dinopaskvan.com</string>
</dict>
</plist>
